In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data scientist.csv")

In [3]:
df.head()

,Unnamed: 0,id,premium,name,department,has_test,response_letter_required,area,salary,type,...,published_at,created_at,archived,apply_alternate_url,insider_interview,url,alternate_url,relations,snippet,contacts
0,0,30501311,False,Python Data Scientist,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 110000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,2019-03-23T14:27:23+0300,2019-03-23T14:27:23+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,https://api.hh.ru/vacancies/30501311?host=hh.ru,https://hh.ru/vacancy/30501311,[],{'requirement': 'Высшее техническое/математиче...,NaN
1,1,30560697,False,Data Scientist,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 180000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,2019-03-23T10:52:32+0300,2019-03-23T10:52:32+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,https://api.hh.ru/vacancies/30560697?host=hh.ru,https://hh.ru/vacancy/30560697,[],{'requirement': 'Высшее образование в области ...,"{'name': 'Бухарова Юлия', 'email': 'j.bukharov..."
2,2,30501182,False,Data Scientist (ML),NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",NaN,"{'id': 'open', 'name': 'Открытая'}",...,2019-03-23T14:24:18+0300,2019-03-23T14:24:18+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,https://api.hh.ru/vacancies/30501182?host=hh.ru,https://hh.ru/vacancy/30501182,[],{'requirement': 'Python. Хорошее знание библио...,NaN
3,3,29632581,False,"Ведущий специалист / data scientist (big data,...",NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 150000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,2019-03-23T11:23:33+0300,2019-03-23T11:23:33+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,https://api.hh.ru/vacancies/29632581?host=hh.ru,https://hh.ru/vacancy/29632581,[],"{'requirement': 'Математическое, естественнона...",NaN
4,4,30491785,False,Data scientist,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",NaN,"{'id': 'open', 'name': 'Открытая'}",...,2019-03-23T11:05:23+0300,2019-03-23T11:05:23+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,https://api.hh.ru/vacancies/30491785?host=hh.ru,https://hh.ru/vacancy/30491785,[],{'requirement': 'Высшее техническое/математиче...,NaN

In [4]:
df.rename(columns={'Unnamed: 0':'index'}, inplace=True)
df.set_index('index', inplace=True)

In [5]:
df.head()

,id,premium,name,department,has_test,response_letter_required,area,salary,type,address,...,published_at,created_at,archived,apply_alternate_url,insider_interview,url,alternate_url,relations,snippet,contacts
index,,,,,,,,,,,,,,,,,,,,,
0,30501311,False,Python Data Scientist,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 110000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",NaN,...,2019-03-23T14:27:23+0300,2019-03-23T14:27:23+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,https://api.hh.ru/vacancies/30501311?host=hh.ru,https://hh.ru/vacancy/30501311,[],{'requirement': 'Высшее техническое/математиче...,NaN
1,30560697,False,Data Scientist,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 180000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}","{'city': None, 'street': None, 'building': Non...",...,2019-03-23T10:52:32+0300,2019-03-23T10:52:32+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,https://api.hh.ru/vacancies/30560697?host=hh.ru,https://hh.ru/vacancy/30560697,[],{'requirement': 'Высшее образование в области ...,"{'name': 'Бухарова Юлия', 'email': 'j.bukharov..."
2,30501182,False,Data Scientist (ML),NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",NaN,"{'id': 'open', 'name': 'Открытая'}",NaN,...,2019-03-23T14:24:18+0300,2019-03-23T14:24:18+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,https://api.hh.ru/vacancies/30501182?host=hh.ru,https://hh.ru/vacancy/30501182,[],{'requirement': 'Python. Хорошее знание библио...,NaN
3,29632581,False,"Ведущий специалист / data scientist (big data,...",NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 150000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Кузнецкий мост',...",...,2019-03-23T11:23:33+0300,2019-03-23T11:23:33+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,https://api.hh.ru/vacancies/29632581?host=hh.ru,https://hh.ru/vacancy/29632581,[],"{'requirement': 'Математическое, естественнона...",NaN
4,30491785,False,Data scientist,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",NaN,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Пресненская набе...",...,2019-03-23T11:05:23+0300,2019-03-23T11:05:23+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,https://api.hh.ru/vacancies/30491785?host=hh.ru,https://hh.ru/vacancy/30491785,[],{'requirement': 'Высшее техническое/математиче...,NaN

In [6]:
import ast
df.salary = df.salary.dropna()


salaries = df.salary.dropna()
currencies = [ast.literal_eval(salaries.iloc[i])['currency'] for i in range(len(salaries))]
curr = set(currencies) #{'EUR', 'RUR', 'USD'}


rur = [ast.literal_eval(salaries.iloc[i]) for i in range(len(salaries)) if ast.literal_eval(salaries.iloc[i])['currency']=='RUR']
eur = [ast.literal_eval(salaries.iloc[i]) for i in range(len(salaries)) if ast.literal_eval(salaries.iloc[i])['currency']=='EUR']
usd = [ast.literal_eval(salaries.iloc[i]) for i in range(len(salaries)) if ast.literal_eval(salaries.iloc[i])['currency']=='USD']


fr = [x['from'] for x in rur]
fr = list(filter(lambda x: x is not None, fr))

to = [x['to'] for x in rur]
to = list(filter(lambda x: x is not None, to))

import numpy as np
salary_range = list(zip(fr, to))
av = map(np.mean, salary_range)
av = round(np.mean(list(av)),1)


print("average salary as Data Scientist ", av, "rubles")

average salary as Data Scientist  152333.3 rubles

In [7]:
from collections import Counter

In [8]:
vacancy_names = df.name

In [9]:
vacancy_names

index
0                                  Python Data Scientist
1                                         Data Scientist
2                                    Data Scientist (ML)
3      Ведущий специалист / data scientist (big data,...
4                                         Data scientist
5             Data scientist (Machine Learning Engineer)
6                                  Cтажер Data Scientist
7                       Data Scientist (Computer Vision)
8                       Data Scientist (Computer Vision)
9          Lead Data Scientist \ Ведущий аналитик данных
10                                        Data-Scientist
11                                        Data Scientist
12                                        Data scientist
13                  Data Analyst/Data Scientist Q-Portal
14                                        Data Scientist
15                                        Data Scientist
16                                        Data Scientist
17        Data Scientist/Finance Quantitative Researcher
18                                        Data Scientist
19                                        Data Scientist
20                      Data Scientist / Аналитик данных
21                                        Data Scientist
22                                 Data scientist/Python
23                                        Data Scientist
24              Аналитик - эконометрист / Data scientist
25                      Data Scientist (event detection)
26                                        Data Scientist
27                           Data Analyst/Data Scientist
28                  Junior Quant Trader / Data Scientist
29                 Исследователь данных / Data Scientist
                             ...
330                           Начальник отдела аналитики
331                                        Data Engineer
332                 Руководитель отдела CRM / лояльности
333                                        Data Engineer
334       Product Analyst / Data Analyst в Контакт центр
335                                Ведущий Data Engineer
336                     Scientist (Philips Skolkovo Lab)
337                                      Бизнес-аналитик
338          Инженер по обработке данных (Data Engineer)
339    Руководитель группы развития процессов и техно...
340                     Руководитель по бизнес-аналитике
341                   Разработчик Java для AI/NLP систем
342                 Senior Software Developer (Datalore)
343                 Senior Software Developer (Datalore)
344                         Scientist (Philips Research)
345                                 Java/Scala Developer
346                      Системный администратор (Linux)
347                               Backend Engineer (R&D)
348                           Retail Business Consultant
349                                      ETL-разработчик
350                                        Data Engineer
351              Архитектор/team lead в отдел разработки
352                     Менеджер продукта/ Product Owner
353                        Разработчик-исследователь NLP
354                                       AI/ML Engineer
355          Business consultant (Customer Intelligence)
356         Medical Adviser (Hospital product portfolio)
357             Старший разработчик C# ASP.NET (backend)
358                                             Аналитик
359                   Разработчик ETL-системы в Я.Музыку
Name: name, Length: 360, dtype: object

In [10]:
cloud = Counter(vacancy_names)

In [11]:
from wordcloud import WordCloud, STOPWORDS

In [12]:
stopwords = set(STOPWORDS)

In [13]:
cloud = ''
for x in list(vacancy_names):
    cloud+=x+' '

In [14]:
wordcloud = WordCloud(width = 800, height = 800, 
     
                stopwords = stopwords, 
                min_font_size = 8,background_color='white'
                     ).generate(cloud)

In [15]:
wordcloud

In [ ]:
import matplotlib.pylab as plt
plt.figure(figsize = (16, 16)) 
plt.imshow(wordcloud)
plt.savefig('vacancy_cloud.png')